* {
    font-family: Poppins;
    font-weight: 400;
}

.ppTitle {
    background: -webkit-linear-gradient(rgb(237, 164, 176), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}